{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Personnes</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/accueil">Accueil</a></li>
                        <li class="breadcrumb-item active">Personnes</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <!--suppress ALL -->
    <section class="content">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Formulaire d'ajout d'une personne</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-4">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>Nom <span style="color: red;">*</span> :</label>
                                <div class="select2-purple">
                                    {{ form_widget(form.nomProjet, {'attr': {'class':'form-control ','placeholder':'Saisir le nom de l\'personne', 'required':true} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-6 col-sm-6 col-xs-6">
                            {{ form_label(form.dateDebutReel, "Date Debut du projet", {'label_attr': {'class': 'form-label'}}) }}
                                <div class="form-group  form-float">
                                    <div class="form-line">
                                        {{ form_widget(form.dateDebutReel, {'attr': {'class': 'form-control', 'placeholder':'Debut'} }) }}  {# Affichage des erreurs pour ce champ précis. #} {{ form_errors(form.dateDebutReel)
                                        }}
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-lg-10 col-md-6 col-sm-6 col-xs-6">
                            {{ form_label(form.dateFinReel, "Date Fin du projet", {'label_attr': {'class': 'form-label'}}) }}
                                <div class="form-group  form-float">
                                    <div class="form-line">
                                        {{ form_widget(form.dateFinReel, {'attr': {'class': 'form-control', 'placeholder':'Debut'} }) }}  {# Affichage des erreurs pour ce champ précis. #} {{ form_errors(form.dateFinReel)
                                        }}
                                    </div>
                                </div>
                        </div>
                        <br>
                         <div>
                            <button type="submit" class="btn btn-primary ">Valider</button>
                            <a href="{{ path('liste_projet') }}">
                            <button type="button" class="btn btn-danger ">Annuler</button>
                            </a>
                    
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Liste des personnes</h3>
                </div>
                <div class="card-body" style="display: block;">
                {% for message in app.flashes('desactive') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %} {% for message in app.flashes('active') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('register') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('suppression') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
                    <table id="table_utilisateur" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th class="text-center">Nom</th>
                            <th class="text-center">Date Debut Reel du projet</th>
                            <th class="text-center">date Fin Reel du projet</th>
                            <th class="text-center">Etat du projet</th>

                            <th class="text-center" width="19%" >Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for projet in projets %}
                            <tr>
                                <td>{{ projet.id }}</td>
                                <td>{{ projet.nomProjet }}</td>
                                <td>{{ projet.dateDebutReel  | date('Y-m-d  H:i:s')}}</td>
                                <td>{{ projet.dateFinReel  | date('Y-m-d  H:i:s')}}</td>
                                <td class="text-center">
                                    {% if projet.projetComplet == 1 %}
                                        <span class="badge bg-success">Commencer</span>
                                     {% else %}
                                        <span class="badge bg-danger">Terminer</span>
                                    {% endif %}
                                </td>        
                                <td class="text-center">
                                {% if projet.projetComplet == 0 %}

                                        <a href="{{ path('desactive_encours',{'id':projet.id}) }}">
                                            <button type="button" class="btn btn-outline-success btn-rounded"><i class="fa fa-power-off"></i></button>
                                        </a>
                                        {% else %}
                                             <a href="{{ path('active_terminers',{'id':projet.id}) }}">
                                            <button type="button" class="btn btn-outline-danger btn-rounded"><i class="fa fa-power-off"></i></button>
                                        </a>

                                    {% endif %}
                                    
                                    <a href="{{ path('edit_projets',{'id':projet.id}) }}">
                                        <button type="button" class="btn btn-outline-success btn-rounded"><i class="fas fa-pencil-alt"></i>Edit</button>
                                    </a>
                                    <a href="{{ path('delete_projets',{'id':projet.id}) }}" id="delBtn"  data-toggle="modal">
                                        <button type="button" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash">Delete</i></button>
                                    </a>
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="myModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4><b>Êtes-vous sûr de vouloir supprimer cet personne ?</b></h4>
                <p>Cette action peut être annulée</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <a  href="" type="button" class="btn btn-danger" id="delRef"><i class="fa fa-trash" aria-hidden="true"></i>Supprimer</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}